body {
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
  color: #00B7FF;
}
ol.post-ordered-list li{
  margin-bottom: 1em;
}
code, pre {
  background-color: #343a40!important;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  /* white-space: pre-line; */
}
pre {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tag-container{
  display: flex;
  align-items: center;
  padding-left: 0 !important;
  list-style: none !important;
}
.tag-container > p {
  margin-bottom: 0 !important;
  margin-right: 0.5em;
}
.tag-pill {
  background-color: #343a40!important;
  color: white !important;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  width: min-content;
  margin-right: 0.5em;
  text-decoration: none;
}
.tag-pill *{
  color: white !important;
  text-decoration: none;
}